body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-game {
  display: flex;
  justify-content: center;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  border: solid 2px black;
}

.board-container > div {
  border: solid 2px red;
}

.board-container > div > button {
  height: 140px;
  width: 140px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: auto;
}