@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Vollkorn&display=swap');

:root {
  font-family: 'Roboto', system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  --secondary-color: rgb(72, 72, 72);
  --background-color: rgb(202, 202, 202);
  --buttons-main-color: rgb(185, 180, 199);
  --buttons-secondary-color: rgb(92, 84, 112);
  --buttons-waiting-text-color: rgb(71, 139, 50);
  --buttons-waiting-color: rgba(113, 247, 108, 0.459);
  --player-turn-color: rgb(72, 70, 192);
  --winning-sequence-color: rgb(223, 45, 45);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.welcome-container > h1 {
  color: var(--secondary-color);
  font-size: 4.4rem;
  text-align: center;
}

.welcome-container button,
.game-mode-container button {
  appearance: none;
  color: var(--buttons-secondary-color);
  background-color: var(--buttons-main-color);
  font-size: 2.3rem;
  border: solid 4px var(--buttons-secondary-color);
  padding: 1rem;
}

.welcome-container button:hover,
.game-mode-container button:hover,
.player-names-container button:hover,
.player-one-vs-computer-confirm-button:hover,
.rematch-button:hover,
.new-game-button:hover {
  transform: scale(1.02);
  transition: all 0.1s;
}

.game-mode-container,
.player-names-container,
.player-name-vs-computer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 1.5rem;
}

.game-mode-buttons-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.players-container,
.player-name-vs-computer-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.player-one-container,
.player-two-container,
.player-name-vs-computer-sub {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game-mode-container h2,
.player-names-container h2,
.player-name-vs-computer-container h2 {
  color: var(--secondary-color);
  font-size: 3.5rem;
  text-align: center;
}

.player-one-container > label,
.player-two-container > label,
.player-name-vs-computer-sub > label {
  color: var(--secondary-color);
  font-size: 1.5rem;
  text-align: center;
}

#player-one,
#player-two,
#player-one-vs-computer {
  color: var(--secondary-color);
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--background-color);
  border: solid 2px var(--secondary-color);
}

.player-names-container button,
.player-name-vs-computer-container button {
  appearance: none;
  color: var(--buttons-secondary-color);
  background-color: var(--buttons-main-color);
  font-size: 1.3rem;
  border: solid 3px var(--buttons-secondary-color);
  padding: 0.5rem;
}

.player-one-confirm-button:disabled,
.player-two-confirm-button:disabled {
  color: var(--buttons-waiting-text-color);
  background-color: var(--buttons-waiting-color);
  border: solid 3px var(--buttons-waiting-text-color);
}

.main-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 4rem;
}

.game-information {
  color: var(--secondary-color);
  font-size: 2.5rem;
  text-align: center;
}

.player-turn-information {
  color: var(--secondary-color);
  font-size: 1.8rem;
  text-align: center;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 121px);
  grid-template-rows: repeat(3, 121px);
  justify-items: center;
  align-items: center;
  background-image: url(./images/board.png);
  background-position: center;
  background-repeat: no-repeat;
}

.board-container > div > button {
  height: 90px;
  width: 90px;
  font-size: 4rem;
  border: none;
  background-color: var(--background-color);
  text-align: center;
  vertical-align: top;
}

.board-container > div > button:disabled {
  height: 90px;
  width: 90px;
  font-size: 4rem;
  border: none;
  background-color: var(--background-color);
  text-align: center;
  line-height: normal;
}

.next-game-buttons-container {
  display: flex;
  gap: 2rem;
}

.rematch-button,
.new-game-button {
  appearance: none;
  color: var(--buttons-secondary-color);
  background-color: var(--buttons-main-color);
  font-size: 2rem;
  border: solid 3px var(--buttons-secondary-color);
  padding: 0.5rem;
}

.winning-sequence-color {
  color: var(--winning-sequence-color);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  color: var(--secondary-color);
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}